/* header */

.main-header {
  height: 60px;
  border-bottom: 1px solid gainsboro;
}

.main-header__nav {
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
}

.main-header__list {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.main-header__list > li {
  margin-right: 20px;
}

.main-header__list > li:last-child {
  margin-right: 0;
}

.main-header__link {
  color: var(--color-font);
}

.main-header-bumper {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* body */

.main-body {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 1000px;
}

/* text color */

.text--green {
  color: green;
}