:root {
  --color-blue: dodgerblue;
  --color-font: rgb(47, 47, 47);
}


html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-font);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.0rem;
}

h5 {
  font-size: 1.6rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: var(--color-blue); 
  text-decoration: none;
  cursor: pointer;
}